<div class="dark">
  <div class="bg-graphite text-gray-200 dark:bg-graphite dark:text-gray-200 min-h-screen transition-colors duration-500">
    <app-header></app-header>
    <main>
      <app-hero></app-hero>
      <app-investments></app-investments>
      <app-global-presence></app-global-presence>
      <app-services></app-services>
      <app-ai-vision></app-ai-vision>
      <app-mission></app-mission>
      <app-contact></app-contact>
    </main>
    <app-footer></app-footer>
  </div>
</div>